.top_banner {
    background-image: url("https://i.ibb.co/HhDn9SX/hero1.jpg");
    background-repeat: no-repeat;
    height: 80vh;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
  }