.Footer_bg1 {
  background-image: url("https://i.ibb.co/FhxSZ9W/footer-shape-1.png");
  background-repeat: no-repeat;
  height: 30vh;
  background-position: left;
  background-size: cover;
}
.Footer_bg2 {
  background-image: url("https://i.ibb.co/1vgRFx5/footer-shape-2.png");
  background-repeat: no-repeat;
  height: 30vh;
  background-position: right;
  background-size: cover;
}
